extends layout

block content
  h2 Hello you~
  div.info
    p Welcome in Corvus.
    p Corvus, is an application to save your favorite tweets!
    p Test it by login with our twitter account, enjoy!
  a(href="/auth/twitter").btn.btn-info
    span.fa.fa-twitter
      | Sign-in with Twitter
  footer
    p Made with love by, Adrien Affredou, Medhi Atar and Axel Girard! <3
