extends layout
block content
  div(class="container" id="Cool" ng-app="mainApp")
     h2#header("property"="pValue") Tweets
     h3 Response
     table.table(ng-controller="TodoController")
      thead
        tr
          th #
          th tweetId
          th tweetUserPhoto
          th tweetText
          th Action
      tbody
        tr(ng-repeat="todo in todos" id="id-{{todo.id}}")
          th(scope='row') {{ todo.id }}
          td {{ todo.user.id }}
          td
            img(src= "{{ todo.user.profile_image_url }}")
          td {{ todo.text }}
          td
            button(ng-click="deleteData(todo.id)") delete
            &nbsp;| &nbsp;
            button(ng-click="saveData(todo.id)") save

  script(type="text/javascript").
   var data=!{JSON.stringify(dataGet)};
   var mainApp = angular.module("mainApp", []);
   mainApp.controller("TodoController", function($scope, $http) {
     $scope.todos = !{JSON.stringify(dataGet)};
     $scope.deleteData = function($id){
        var row = document.getElementById('id-'+$id);
        row.hidden = true;
        console.log(row);
     };
     $scope.saveData = function($id){
        // todo (envoyer une requete en post à une route à créer)
     };
   });
