extends layout
block content
  div(class="container" id="Cool" ng-app="mainApp")
    h1#SavedTweet(hidden) Mes Tweets Sauvegardé
     h2#header("property"="pValue") Tweets
     h3 Response
     table.table(ng-controller="TodoController")
      thead
        tr
          th #
          th tweetId
          th tweetUserPhoto
          th tweetText
          th Action
      tbody
        tr(ng-repeat="todo in todos" id="id-{{todo.id}}", ng-hide="hideRow")
          th(scope='row') {{ todo.id_str }}
          td {{ todo.user.id }}
          td
            img(src= "{{ todo.user.profile_image_url }}")
          td {{ todo.text }}
          td
            button(ng-if="displayDelete", ng-click="hideRow=true; deleteData(todo.id_str)") delete
            | &nbsp; | &nbsp;
            form(method='post', action='/twitter/save')
              input(type='text', name='tweetID', value='{{ todo.id_str }}', class="hidden")
              input(type='submit', value='fav' ng-bind="btname")

  script(type="text/javascript").
   var data=!{JSON.stringify(dataGet)};
   var mainApp = angular.module("mainApp", []);
   mainApp.controller("TodoController", function($scope, $http) {
     $scope.displayDelete=location.pathname=="/users/tweets";
     if($scope.displayDelete)
     $('#SavedTweet').show(1000);
     $scope.todos = !{JSON.stringify(dataGet)};
     $scope.deleteData = function(id){
        $.post("/users/kill",{tweetID:id});
     };
     $scope.saveData = function($id){
        // todo (envoyer une requete en post à une route à créer)
     };
   });
